body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f2f6ff;
}

header {
  background: #1e40af;
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  background: #2563eb;
}

nav a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.page {
  display: none;
  padding: 16px;
}

.page.active {
  display: block;
}

button {
  width: 100%;
  margin-top: 12px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 16px;
}

.subjects {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 8px;
}

.subjects button {
  background: #dbeafe;
  color: #1e3a8a;
}

.subjects button.active {
  background: #2563eb;
  color: white;
}

.card {
  background: white;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
}

